.pageIcon {
  width: 50px;
  height: 50px;
}
.pageImage {
  width: 20px;
  height: 20px;
  padding: 10px 10px;
}
.firstPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textBox {
  padding: 10px;
  margin-top: 10px;
}
.submitButton {
  padding: 10px;
  margin-top: 10px;
}
